/.git
/.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.egg-info/
**/*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
frontend/ui/node_modules/
frontend/ui/.svelte-kit/
backend/.mypy_cache/
backend/.ruff_cache/
backend/.pytest_cache/
backend/.venv/
backend/src/**/*.pyc
*.log
Dockerfile.frontend
Dockerfile.backend
docker-compose.yml
